.header_container {
  width: 100%;
  padding: 16px;
  color: white;
  background-color: #d5d6d6;
}

.header_container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.mobile_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_nav_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.desktop_nav {
  display: none;
  gap: 24px;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: inherit;
  z-index: 10;
  padding: 16px;
  gap: 24px;
  position: absolute;
  top: 50px;
  right: 0px;
  align-items: self-end;
  border-top: 1px solid white;
}

@media (min-width: 1200px) {
  .desktop_nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile_nav_container {
    display: none;
  }
}
