* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  display: grid;
  background-color: white;
  gap: 24px;
  position: relative;
  grid-template-areas:
    'search'
    'menu';
  padding: 16px 0px;
}

.img_header_container {
  background-color: #dddcdc;
  min-height: 150px;
}

.mobile_btn_cart {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;  
}

.allergy_container {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  padding: 24px;
  margin-bottom: 24px;
}

.radius {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
}

.radius p {
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    background-color: #f8f9fa;
    padding: 32px 40px;
    max-width: 1024px;
    margin: auto;
    grid-template-areas:
      'search search search'
      'menu menu cart';
  }

  .mobile_btn_cart {
    display: none;
  }
  
  .allergy_container {
    display: none;
  }
}
